@page "/estimate"

@using System.Threading
@using ScrumBlazor.Data
@inject DailyService DailyService
@inject TeamsService TeamsService
<h4>Poker planning meeting:</h4>
Team Name:
<input placeholder="Your team name" @bind="teamName" />
Password:
<input placeholder="Your team password" @bind="password" type="password" />
<button class="btn btn-primary" @onclick="(() => LogIn())">Enter team</button>
<label>@loginResult</label>
<hr />
<label>Join session and save your estimate to see other members estimations!</label>
<br/>
<p><strong>What to consider when estimating (acceptance criteria checklist):</strong><br/>
- complexity (how many components does this change affect? frontend/backend/DB etc.) <br/>
- unit tests involved? <br/>
- integration tests involved? <br/>
- translations changes involved? <br/>
- build scripts/CI changes involved? <br/>
- documentation updates involved? <br/>
etc.
</p>
@if (participants == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Starting</th>
                <th>Team member</th>
                <th>Estimation</th>
                <th>Saving</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in participants)
            {
                <tr>
                    <td class="@getClass(participant.Nr)"><button class="btn btn-success" @onclick="(() => SetCurrentUser(participant.Nr))">Join</button></td>
                    <td class="@getClass(participant.Nr)">@participant.Name</td>
                    <td class="@getClass(participant.Nr)"><input size="11" placeholder="Estimation" @bind="@participant.EstimationStr" disabled="@participant.Disabled" /></td>
                    <td class="@getClass(participant.Nr)"><button class="btn btn-info" @onclick="(() => Save())">Save and refresh</button></td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-warning" @onclick="(() => Reset())">Reset estimates</button>
    <br/>

    <hr />
    <p>Time since start: @_timerSecondsCount sec.</p>
}

@code {

    string teamName;
    string password;
    string loginResult;
    Team team;

    Participant[] participants;
    int _currentUserNr = -1;
    Timer _updateTimer;
    int _timerSecondsCount = 0;

    public string getClass(int participantNr)
    {
        return (participantNr == _currentUserNr) ? "table-active" : "table-light";
    }

    protected override async Task OnInitializedAsync()
    {
    }

    public void Dispose()
    {
        _updateTimer.Dispose();
    }

    public async Task Save()
    {
        if (team != null)
        {
            await TeamsService.Save(participants[_currentUserNr], team);
            team = TeamsService.GetTeam(teamName, password);
            participants = await DailyService.GetParticipants(team,false);
            StateHasChanged();
        }
    }

    public async Task LogIn()
    {
        StateHasChanged();
        team = TeamsService.GetTeam(teamName, password);
        if (team != null)
        {
            loginResult = "Correct credentials";
            participants = await DailyService.GetParticipants(team, false);
            foreach (var p in participants)
            {
                p.Estimation = Participant.NotEstimated;
            }
            _updateTimer = new Timer(state => { InvokeAsync(UpdateCounter); }, null, 0, 1000);
            await TeamsService.SaveLoginTimeAmount(team.Id);
        }
        else
        {
            loginResult = "Wrong credentials";
            participants = null;
        }
        StateHasChanged();
    }

    public async Task Get()
    {
        team = TeamsService.GetTeam(teamName, password);
        if (team != null)
        {
            loginResult = "Correct credentials";
            participants = await DailyService.GetParticipants(team);
        }
        else
        {
            loginResult = "Wrong credentials";
            participants = null;
        }
        StateHasChanged();
    }

    public async void Reset()
    {
        participants = await DailyService.GetParticipants(team, false);
        foreach (var p in participants)
        {
            p.Timer = 0;
            p.Estimation = Participant.NotEstimated;
        }

        await TeamsService.Save(participants, team);

        _currentUserNr = -1;
    }

    void SetCurrentUser(int userNrClicked)
    {
        _currentUserNr = userNrClicked;
        this.participants[userNrClicked].Estimation = 0;
        StateHasChanged();
    }

    async Task UpdateCounter()
    {
        _timerSecondsCount++;
        if (this._currentUserNr >= 0)
        {
            participants[_currentUserNr].Timer++;
        }
        StateHasChanged();
    }

}
